body {
  margin: 0 auto;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90%;
}

code {
  font-family: "Lato", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  align-items: center;
  background-image: linear-gradient(to bottom right, #b119de, #14ead7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  display: flex;
  height: 100px;
  justify-content: flex-start;
  padding: 0 30px;
}

.movie-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.movie {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  height: 200px;
  margin: 20px 0;
  width: 350px;
  transition: .2s ease-in-out;
}

.movie:hover {
  background-color: #d3deee;
  transition: .2s ease-in-out;
}

.poster {
  height: 200px;
  margin: 0 10px;
}

.info-card {
  padding: 0 10px;
}

.search_bar {
  border: 1px solid grey;
  border-radius: 10px;
  color: silver;
  font-size: 1.2rem;
  margin: 30px 0;
  padding: 20px 50px 20px 20px;
}

.nominations {
  border: 1px solid black;
  border-radius: 10px;
  font-size: .8rem;
  height: 200px;
  line-height: 15px;
  margin: 20px 0;
  width: 350px;
}

.completed {
  background-color: #fcfcc6;
  border: 1px dotted red;
}

.nominations h4 {
  font-size: .9rem;
  margin:  5px;
}

.secondary {
  display: flex;
  align-items: center;
}

.nominated {
  box-shadow: 2px 2px #b119de;
  background-color: #d3deee;
}

.nom-item {
  display: flex;
  margin: -8px 10px;
  overflow: hidden;
}

.done {
  align-items: center;
  background-color: #fcfcc6;
  border: 1px dotted red;
  border-radius: 10px;
  display: flex;
  height: 60px;
  justify-content: flex-start;
  margin: 0 20px;
  padding: 0 30px;
}

.error {
  align-items: center;
  background-color: #d57271;
  border: 1px dotted red;
  border-radius: 10px;
  color: white;
  display: flex;
  height: 30px;
  justify-content: flex-start;
  margin: 0 10px;
  padding: 0 20px;
}